/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@charset "UTF-8";


html{
	scroll-behavior: smooth;
}

body{
	width: 100%;
	background-color: white;
	height: 100%;
	margin: 0;
	padding: 0;
}

.marcador{
	border: 1px solid red;
}

div#conteudo{
	padding: 20px;
	margin-bottom: 70px;
}


footer{
	width: 100%;
	text-align: center;
	background-color: lightgray;
	padding: 10px;
	bottom: 0;
}

footer a{
	color: #ba2a29;
}

footer a:hover{
	color: gray;
	text-decoration: none;
}

/* Navegação **************************************************/

div#menu{
	text-align: center;
	background-color: white;
}

.menu-link {
	padding: 20px 0;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background-color: white;
	cursor:pointer;
	border: 1px solid black;
}

.menu-passivo{
	border-bottom: 1px solid black;
	color: gray;
	background-color: lightgray;
}

.menu-ativo{
	color: black;
	border: 1px solid black;
	border-bottom: none;
}

/* Oráculos ***************************************/

div#log{
	margin-top: 15px;
	border: 1px solid black;	
	border-radius: 1%;
	height: 500px;
	overflow-y: scroll;
    overflow-x: hidden;
}

div.divFlex{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.divFlex button{
	margin: 2px;
	/*align-self: flex-start;*/
	flex-basis: 100px;
}


div#divBotoesImprime a.btn{
	color: white;
}




/* Tipografia *************************************************/
body{
	font-family: 'Roboto', sans-serif;
}

div#log.imprimir{
	padding: 20px;
	height: auto!important;
	overflow-y: hidden;
	border: none;
}

/* Imagens *************************************************/


/* Cards ****************************************************/

.card{
	display: block;
	margin: 10px auto;
}

.gerador-img{
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.col-sm-4{
}


/* Media Queries *************************************************/

@media print {
	body{
			/*font-size: 1.3em!important;*/
		}	
	  body * {
	   visibility: hidden;
	  }

	  #divImprimir, #divImprimir * {
	    visibility: visible;
	  }

	  #divImprimir{
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	  }
		
}

@media (max-width: 575.98px) {
	
	.menu-link {
	font-size: .8em;
	}

	.so-desktop{
		display: none;
	}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {


}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {


}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}











































